server:
  port: 8084
  servlet:
    context-path: /transaction
spring:
  application:
    name: transaction-service
  datasource:
    url: jdbc:postgresql://localhost:1200/team2db
    username: postgres
    password: quang232003
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  messages:
    encoding: 'UTF-8'   # ??m b?o mã hóa ?úng
    use-code-as-default-message: true  # S? d?ng code làm thông ?i?p m?c ??nh n?u không tìm th?y thông ?i?p
    basename: i18n/labels  # ??m b?o ?úng tên file (không c?n ?uôi .properties trong basename)
    cache-duration: 560   # Th?i gian cache (60 giây)
  kafka:
    producer:
      bootstrap-servers: localhost:9094
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

feign:
  client:
    config:
      user-service:
        name: 'user-service'
        url: http://localhost:8082/user
      wallet-service:
        name: 'wallet-service'
        url: http://localhost:8086/wallet
eureka:
  client:
    server-url:
      defaultZone: http://localhost:8761/eureka/

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html